

<h2>-(storename)-</h2>

<h1>Flower picks in the past </h1>

<br>

<% @products.sample(3).each do |product| %>
<br>

  <%= image_tag "flowers/#{rand(9)}.jpg" %>
<br>
  <%= product.name %> (<%= product.date_delivered ? product.date_delivered.strftime("%B %e, %Y") : "" %>)

<br>
  <%= product.description %>
<br>
<br>
<% end %>
