


  <% cart.line_products.each do |line_product| %>

  
    <%= line_product.product.name %> | <%= number_to_currency(line_product.product.price.to_f) %> | Quantity: <%= line_product.quantity %>
  <% end %>
<br>

 <p>Grand Total: <strong><%= number_to_currency(cart.total.to_f) %></strong></p>
