

<br></br>
  <h3>Flower Name:</h3> <%= product.name %>
  <h3>Description: </h3><%= product.description %>
  <br></br>

  <strong> <p>Delivery Date: Today! (<%= product.delivery_date %>)</p></strong>
