
<h1> Flower Gallery </h1>

<% @products.each do |product| %>
<br>

<%= image_tag "flowers/#{rand(9)}.jpg" %>
<br>
  <%= product.name %> (<%= product.date_delivered ? product.date_delivered.strftime("%B %e, %Y") : "" %>)

<br>
  <%= product.description %>
<br>
<br>
<% end %>
