<body class=center>

<br></br>
<h1> Daily Pick </h1>

    <%= render partial: "product", locals: {product: @product} %>

    <p> <%= link_to "Click Here", new_line_product_path %>
      <br></br>


</body>
